sudo: false

services:
  - mongodb

language: ruby

cache: bundler

matrix:
  include:
    - rvm: 2.3.1
      env: MONGOID_VERSION=3
    - rvm: 2.3.1
      env: MONGOID_VERSION=4
    - rvm: 2.3.1
      env: MONGOID_VERSION=5
    - rvm: 2.3.1
      env: MONGO_MAPPER_VERSION=0.13.1
    - rvm: 2.3.0
    - rvm: 2.2
    - rvm: 2.1
    - rvm: rbx-2
    - rvm: jruby-19mode
    - rvm: ruby-head
    - rvm: jruby-head
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
    - rvm: jruby-19mode
    - rvm: rbx-2
